resource_group_name = "rg-platform-aks-prod"
location            = "eastus"
cluster_name        = "aks-platform-prod"
dns_prefix          = "aks-platform-prod"
aks_subnet_id       = "/subscriptions/.../subnets/aks"
acr_id              = "/subscriptions/.../registries/acrplatform"

admin_group_object_ids = [
  "00000000-0000-0000-0000-000000000000"
]

tags = {
  managed_by  = "terraform"
  environment = "prod"
  platform    = "enterprise-cicd"
}
