terraform {
  backend "azurerm" {
    # Configure through environment specific backend config.
    # Required values:
    # resource_group_name
    # storage_account_name
    # container_name
    # key
  }
}
