location            = "eastus"
resource_group_name = "rg-platform-cicd"

identity_specs = {
  platform-plan = {
    name = "uami-tf-platform-plan"
  }
  platform-apply = {
    name = "uami-tf-platform-apply"
  }
  dev-plan = {
    name = "uami-tf-dev-plan"
  }
  dev-apply = {
    name = "uami-tf-dev-apply"
  }
  test-plan = {
    name = "uami-tf-test-plan"
  }
  test-apply = {
    name = "uami-tf-test-apply"
  }
  prod-plan = {
    name = "uami-tf-prod-plan"
  }
  prod-apply = {
    name = "uami-tf-prod-apply"
  }
}

tags = {
  managed_by  = "terraform"
  domain      = "enterprise-cicd"
  environment = "platform"
}
